* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: white; 
}

body {
    color: white;
    background-color: #1d293d;
}

div {
    padding: 8px;
}

div#title a {
    text-decoration: none;
}

div#title a:hover {
    text-decoration: underline;
}

#title {
    background-color:cadetblue;
    text-align: left;
    font-size: 48px;
    padding: 12px;
    padding-left: 5%;
    border-bottom: 8px solid rgb(42, 43, 44);
}

#recipes-header {
    text-align: center;
    font-size: 32px;
    margin: 16px 8px 8px 8px;
    padding: 12px;
}

div.recipes {
    text-align: center;
    margin: 0px;
    overflow: auto;
    height: auto;
}

div.recipe-card {
    background-color:rgb(133, 148, 145);
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    border: 4px solid rgb(42, 43, 44);
    width: 45%;
    margin: 0px 12px;
}

div.recipe-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(42, 43, 44);
}

div.recipe-title a {
    text-decoration: none;
}

div.recipe-title a:hover {
    text-decoration: underline;
}

div.recipe-desc {
    text-align:justify;
}

#recipe-header, #image-container {
    margin: 8px;
    text-align: center;
}

#recipe-image {
    height: 40%;
    width: 40%;
    border: 6px solid rgb(42, 43, 44);
}

body div#content {
    text-align: center;
    padding: 8px;
    margin-bottom: 24px;
}

#recipe-full-description, #recipe-ingredients, #recipe-steps {
    width: 85%;
    display:inline-block;
    text-align: left;
    padding: 8px;
}

h2 {
    text-decoration: underline;
    padding-bottom: 8px;
}

.tagline {
    font-style: italic;
}

#recipe-ingredients ul, #recipe-steps ol {
    margin-left: 16px;
}